@model ProductsListViewModel

@{
    ViewData["Title"] = "Home Page";
    var SaleLeader = Model.Products.Where(x => x.FlagSaleLeader).ToList();
}

<div class="text-center">
    <h1 class="display-4">Главная страница</h1>

    <div class="row">
        @foreach (var p in SaleLeader) {
            <div class="col-2 mb-3">
                <h3>@p.Title</h3>
                <img src="/img/test1.jpg" alt="Alternate Text" />
                <p>@p.Brand</p>
                @p.Description
                    <p>@p.dblCaseSize</p>
                <h4>@p.PriceWithDiscount.ToString("c")</h4>
            </div>
        }
    </div>
    <img src="https://mirchasov64.ru/assets/img/logo1.png" alt="Alternate Text" />
    <div page-model="@Model.PagingInfo" page-action="Index"></div>
    
</div>
